@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Regular.eot');
    src: local('Geometria Regular'), local('Geometria-Regular'),
        url('Geometria-Regular.eot?#iefix') format('embedded-opentype'),
        url('Geometria-Regular.woff2') format('woff2'),
        url('Geometria-Regular.woff') format('woff'),
        url('Geometria-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Italic.eot');
    src: local('Geometria Italic'), local('Geometria-Italic'),
        url('Geometria-Italic.eot?#iefix') format('embedded-opentype'),
        url('Geometria-Italic.woff2') format('woff2'),
        url('Geometria-Italic.woff') format('woff'),
        url('Geometria-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-ExtraBoldItalic.eot');
    src: local('Geometria ExtraBold Italic'), local('Geometria-ExtraBoldItalic'),
        url('Geometria-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Geometria-ExtraBoldItalic.woff2') format('woff2'),
        url('Geometria-ExtraBoldItalic.woff') format('woff'),
        url('Geometria-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-ExtraLightItalic.eot');
    src: local('Geometria ExtraLight Italic'), local('Geometria-ExtraLightItalic'),
        url('Geometria-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('Geometria-ExtraLightItalic.woff2') format('woff2'),
        url('Geometria-ExtraLightItalic.woff') format('woff'),
        url('Geometria-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Medium.eot');
    src: local('Geometria Medium'), local('Geometria-Medium'),
        url('Geometria-Medium.eot?#iefix') format('embedded-opentype'),
        url('Geometria-Medium.woff2') format('woff2'),
        url('Geometria-Medium.woff') format('woff'),
        url('Geometria-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Light.eot');
    src: local('Geometria Light'), local('Geometria-Light'),
        url('Geometria-Light.eot?#iefix') format('embedded-opentype'),
        url('Geometria-Light.woff2') format('woff2'),
        url('Geometria-Light.woff') format('woff'),
        url('Geometria-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-HeavyItalic.eot');
    src: local('Geometria Heavy Italic'), local('Geometria-HeavyItalic'),
        url('Geometria-HeavyItalic.eot?#iefix') format('embedded-opentype'),
        url('Geometria-HeavyItalic.woff2') format('woff2'),
        url('Geometria-HeavyItalic.woff') format('woff'),
        url('Geometria-HeavyItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-BoldItalic.eot');
    src: local('Geometria Bold Italic'), local('Geometria-BoldItalic'),
        url('Geometria-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('Geometria-BoldItalic.woff2') format('woff2'),
        url('Geometria-BoldItalic.woff') format('woff'),
        url('Geometria-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Bold.eot');
    src: local('Geometria Bold'), local('Geometria-Bold'),
        url('Geometria-Bold.eot?#iefix') format('embedded-opentype'),
        url('Geometria-Bold.woff2') format('woff2'),
        url('Geometria-Bold.woff') format('woff'),
        url('Geometria-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-LightItalic.eot');
    src: local('Geometria Light Italic'), local('Geometria-LightItalic'),
        url('Geometria-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('Geometria-LightItalic.woff2') format('woff2'),
        url('Geometria-LightItalic.woff') format('woff'),
        url('Geometria-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-ExtraBold.eot');
    src: local('Geometria ExtraBold'), local('Geometria-ExtraBold'),
        url('Geometria-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('Geometria-ExtraBold.woff2') format('woff2'),
        url('Geometria-ExtraBold.woff') format('woff'),
        url('Geometria-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-MediumItalic.eot');
    src: local('Geometria Medium Italic'), local('Geometria-MediumItalic'),
        url('Geometria-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('Geometria-MediumItalic.woff2') format('woff2'),
        url('Geometria-MediumItalic.woff') format('woff'),
        url('Geometria-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-ExtraLight.eot');
    src: local('Geometria ExtraLight'), local('Geometria-ExtraLight'),
        url('Geometria-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('Geometria-ExtraLight.woff2') format('woff2'),
        url('Geometria-ExtraLight.woff') format('woff'),
        url('Geometria-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Heavy.eot');
    src: local('Geometria Heavy'), local('Geometria-Heavy'),
        url('Geometria-Heavy.eot?#iefix') format('embedded-opentype'),
        url('Geometria-Heavy.woff2') format('woff2'),
        url('Geometria-Heavy.woff') format('woff'),
        url('Geometria-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-ThinItalic.eot');
    src: local('Geometria Thin Italic'), local('Geometria-ThinItalic'),
        url('Geometria-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('Geometria-ThinItalic.woff2') format('woff2'),
        url('Geometria-ThinItalic.woff') format('woff'),
        url('Geometria-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Geometria';
    src: url('Geometria-Thin.eot');
    src: local('Geometria Thin'), local('Geometria-Thin'),
        url('Geometria-Thin.eot?#iefix') format('embedded-opentype'),
        url('Geometria-Thin.woff2') format('woff2'),
        url('Geometria-Thin.woff') format('woff'),
        url('Geometria-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}


@font-face {
    font-display: swap;
    font-family: 'Unbounded';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/unbounded-v6-cyrillic_cyrillic-ext_latin-300.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/unbounded-v6-cyrillic_cyrillic-ext_latin-300.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/unbounded-v6-cyrillic_cyrillic-ext_latin-300.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/unbounded-v6-cyrillic_cyrillic-ext_latin-300.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/unbounded-v6-cyrillic_cyrillic-ext_latin-300.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/unbounded-v6-cyrillic_cyrillic-ext_latin-300.svg#Unbounded') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-display: swap;
    font-family: 'Unbounded';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/unbounded-v6-cyrillic_cyrillic-ext_latin-regular.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/unbounded-v6-cyrillic_cyrillic-ext_latin-regular.eot?#iefix') format('embedded-opentype'),
        /* IE6-IE8 */
        url('../fonts/unbounded-v6-cyrillic_cyrillic-ext_latin-regular.woff2') format('woff2'),
        /* Super Modern Browsers */
        url('../fonts/unbounded-v6-cyrillic_cyrillic-ext_latin-regular.woff') format('woff'),
        /* Modern Browsers */
        url('../fonts/unbounded-v6-cyrillic_cyrillic-ext_latin-regular.ttf') format('truetype'),
        /* Safari, Android, iOS */
        url('../fonts/unbounded-v6-cyrillic_cyrillic-ext_latin-regular.svg#Unbounded') format('svg');
    /* Legacy iOS */
}

@font-face {
    font-display: swap;
    font-family: 'Unbounded';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/unbounded-v6-cyrillic_cyrillic-ext_latin-500.eot');
    src: url('../fonts/unbounded-v6-cyrillic_cyrillic-ext_latin-500.eot?#iefix') format('embedded-opentype'),
        url('../fonts/unbounded-v6-cyrillic_cyrillic-ext_latin-500.woff2') format('woff2'),
        url('../fonts/unbounded-v6-cyrillic_cyrillic-ext_latin-500.woff') format('woff'),
        url('../fonts/unbounded-v6-cyrillic_cyrillic-ext_latin-500.ttf') format('truetype'),
        url('../fonts/unbounded-v6-cyrillic_cyrillic-ext_latin-500.svg#Unbounded') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'Unbounded';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/unbounded-v6-cyrillic_cyrillic-ext_latin-600.eot');
    /* IE9 Compat Modes */
    src: url('../fonts/unbounded-v6-cyrillic_cyrillic-ext_latin-600.eot?#iefix') format('embedded-opentype'),
        url('../fonts/unbounded-v6-cyrillic_cyrillic-ext_latin-600.woff2') format('woff2'),
        url('../fonts/unbounded-v6-cyrillic_cyrillic-ext_latin-600.woff') format('woff'),
        url('../fonts/unbounded-v6-cyrillic_cyrillic-ext_latin-600.ttf') format('truetype'),
        url('../fonts/unbounded-v6-cyrillic_cyrillic-ext_latin-600.svg#Unbounded') format('svg');
}

@font-face {
    font-display: swap;
    font-family: 'Unbounded';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/unbounded-v6-cyrillic_cyrillic-ext_latin-700.eot');
    src: url('../fonts/unbounded-v6-cyrillic_cyrillic-ext_latin-700.eot?#iefix') format('embedded-opentype'),
        url('../fonts/unbounded-v6-cyrillic_cyrillic-ext_latin-700.woff2') format('woff2'),
        url('../fonts/unbounded-v6-cyrillic_cyrillic-ext_latin-700.woff') format('woff'),
        url('../fonts/unbounded-v6-cyrillic_cyrillic-ext_latin-700.ttf') format('truetype'),
        url('../fonts/unbounded-v6-cyrillic_cyrillic-ext_latin-700.svg#Unbounded') format('svg');
}

body {
    overflow-x: hidden;
    font-family: Unbounded;
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-color: #251433;
    margin: 0;
    padding: 0;

}

.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    z-index: 1000;
    gap:340px;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    padding: 0 7%;
    background-color: #251433;


}

header .logo {
    place-items: center;
    align-items: center;
    font-size: 16px;
    color: #ffffff;
}
.logo a{
    color: #fff;
    text-decoration: none;
}
header nav ul li {
    display: flex;
    float: left;
    align-items: center;
}

header nav ul li a {
    text-transform: uppercase;
    padding: 16px;
    text-decoration: none;
    color: #ffffff;
    display: block;
}

ul {
    display: flex;
    gap: 36px;
}



.acc {
    width: 30px;
    height: 100%;
}

.container_index {
    padding-bottom: 70px;
    color: #ffffff;
    padding-top: 120px;
    display: grid;
    grid-template-rows: 200px 200px 200px 200px;
    grid-template-columns: 200px 200px 200px 200px 200px 200px 200px 200px;

}
section{
    overflow: visible;
    padding: 7% 0;
    display: grid;
    grid-template-rows: 100px ;
    grid-template-columns: 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px 100px;
}
.it1{
    border: #251433 2px solid;
    background-color: #251433;
}
.flip_circle2 {
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: flip 2s infinite;
    transform-style: preserve-3d;
}
.it2{
    border: #251433 2px solid;
}
.it3{
    border: #251433 2px solid;
}
.square1 {
    color: #251433;
    width: 57px;
    height: 57px;
    border: 20px solid;
    animation: shrinkStayRotateGrow 4s infinite;
    transform-origin: center;
}
.it4{
    border: #251433 2px solid;

}
.it5{
    overflow: hidden;
    border:  #251433 20px solid;
    grid-column-start: 5;
    grid-column-end: 8;
}
.it6{
    border: #251433 2px solid;
}
.flip_circle1 {
    background-color: #251433;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: flip 2s infinite;
    transform-style: preserve-3d;
}

@keyframes flip {
    0% {
        transform: rotateX(0deg);
    }

    50% {
        transform: rotateX(180deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}
.it7{
    border: #251433 2px solid;
    background-color: #251433;
}
.it8{
    border: #251433 2px solid;
    grid-column-start: 10;
    grid-column-end: 13;
}
.half_circle_hor1 {
    border-radius: 50% / 100% 100% 0 0;
    background-color: #251433;
    width: 100%;
    height: 100%;
}
.it9{
    border: #251433 2px solid;
    background-color: #251433;
}
.it10{
    border: #251433 2px solid;
}
.circle1{
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.it11{
    border: #251433 2px solid;
    background-color: #251433;
}
.square2 {
    color: #fff;
    width: 57px;
    height: 57px;
    border: 20px solid;
    animation: shrinkStayRotateGrow 4s infinite;
    transform-origin: center;
}
.it12{
    border: #251433 2px solid;
    background-color: #251433;
}

.arrow_down {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-top: 40px solid #fff; 
    margin: 28px auto; 
    animation: jump 1s infinite; 
}
@keyframes jump {
    0%, 20% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(12px); 
    }
    100% {
        transform: translateY(0);
    }
}
.logo a {
    text-transform: uppercase;
    font-weight: 500;
}

.item1 {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid;
    grid-area: 1/1/1/1;
}

.item1 a {

    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 100px;
}

.item2 {
    color: #ffffff;
    align-self: center;
    justify-self: center;
    overflow: hidden;
    border: 2px solid;
    grid-area: 1/2/1/2;
}

.square {
    color: #ffffff;
    width: 136px;
    height: 136px;
    border: 30px solid;
    animation: shrinkStayRotateGrow 4s infinite;
    transform-origin: center;
}

@keyframes shrinkStayRotateGrow {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.5);
    }

    75% {
        transform: scale(0.5) rotate(180deg);
    }

    100% {
        transform: scale(1)rotate(180deg);
    }
}

.item3 {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid;
    grid-area: 1/3/3/5;
}

.item3 h3 {
    color: #ffffff;
    font-family: Geometria;
    font-weight: 400;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    text-transform: uppercase;
}

.item4 {
    color: #ffffff;
    overflow: hidden;
    border: 2px solid;
    grid-area: 1/5/3/5;
}

.half_circle_vert {
    border-radius: 0 100% 100% 0 / 50%;
    background-color: #ffffff;
    width: auto;
    height: 400px;
}

.item5 {
    color: #ffffff;
    overflow: hidden;
    border: 2px solid;
}

.item8 {
    color: #ffffff;
    grid-area: 2/1/2/3;

}

.item7 a {

    text-decoration: none;
    text-transform: uppercase;
    color: #ffffff;
    font-size: 100px;
}

.item7 {
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border: 2px solid;
}

.item6 {
    color: #ffffff;
    overflow: hidden;
    border: 2px solid;
}

.flip_circle {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: flip 2s infinite;
    transform-style: preserve-3d;
}

@keyframes flip {
    0% {
        transform: rotateX(0deg);
    }

    50% {
        transform: rotateX(180deg);
    }

    100% {
        transform: rotateX(0deg);
    }
}

.item9 {
    color: #ffffff;
    grid-row-start: 2;
    overflow: hidden;
    border: 2px solid;
}

.item8 {
    color: #ffffff;
    overflow: hidden;
    border: 2px solid;
}

.half_circle_hor {
    border-radius: 50% / 100% 100% 0 0;
    background-color: #ffffff;
    width: 100%;
    height: 200px;
}

.circle {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.item13 {
    color: #ffffff;
    overflow: hidden;
    border: 2px solid;
}

.item10 {
    color: #ffffff;
    grid-area: 2/7/2/9;
    overflow: hidden;
    border: 20px solid;
}

.item11 {
    color: #ffffff;
    grid-area: 3/1/5/3;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    border: 2px solid;
}

.swipe_circle {
    color: #ffffff;
    width: 100%;
    height: 100%;
    outline: 30px solid #ffffff;
    outline-offset: -30px;
    border-radius: 50%;
    animation: moveUp 2s linear infinite;
}

.swipe_circle2 {
    color: #ffffff;
    width: 100%;
    height: 100%;
    outline: 30px solid #ffffff;
    outline-offset: -30px;
    border-radius: 50%;
    animation: moveUp1 2s linear infinite;
}

@keyframes moveUp {
    0% {
        transform: scale(1);
    }

    100% {
        transform: translateY(-100vh);
    }
}

@keyframes moveUp1 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: translateY(-42vh);
    }
}

.item12 {
    color: #ffffff;
    overflow: hidden;
    border: 2px solid;
}

.item14 {
    color: #ffffff;
    overflow: hidden;
    border: 2px solid;
}

.item15 {
    color: #ffffff;
    overflow: hidden;
    border: 2px solid;
    grid-column-start: 6;
    grid-column-end: 9;
}

.item15 h1 {
    color: #ffffff;
    font-weight: 500;
    text-transform: uppercase;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    font-size: 26px;
    padding-left: 30px;
}

.item16 {
    color: #ffffff;
    display: flex;
    background-color: #ffffff;
    ;
    grid-column-start: 3;
    grid-column-end: 5;
    overflow: hidden;
    border: 2px solid;
    align-items: center;
    justify-content: center;
}

.item16 p {
    color: #251433;
    font-family: Geometria;
    font-weight: 400;
    padding-left: 30px;
    padding-right: 30px;
    font-size: 18px;
    text-transform: uppercase;

}

.item17 {
    color: #ffffff;
    overflow: hidden;
    border: 2px solid;
}

.item18 {
    color: #ffffff;
    overflow: hidden;
    border: 2px solid;
}

.item19 {
    color: #ffffff;
    overflow: hidden;
    border: 2px solid;
}

.item20 {
    color: #ffffff;
    overflow: hidden;
    border: 2px solid;
}

.item20 img {
    width: 100%;
    height: 100%;
}

.container2 {
    height: auto;
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    padding: 5% 7%;
}
.container2 h1 {
    font-size: 40px;
    text-transform: uppercase;
    color: #251433;
}
.head{
    padding-bottom: 30px;
}
.about{
    display: flex;
    flex-direction: row;
    gap: 40px;
}
.info{
    display: flex;
    flex-direction: column;
    width: 760px;
    gap: 16px;
}
.slides{
    display: flex;
    transition: transform 0.5s ease;
}
.slider {
    position: relative;
    overflow: hidden;
    width: 800px;
    height: 534px; 
}

.slides img {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease, transform 1s ease; 
}

.slides img.active {
    opacity: 1;
    transform: translateY(0); 
}

.slides img:not(.active) {
    transform: translateX(3px); 
}

.info h2{
    font-weight: 500;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0;
    color: #251433;
}
.info1 h3{
    font-weight: 300;
    font-size: 24px;
    margin: 0;
    color: #251433;
}
.info p{
    font-size: 24px;
    font-family: Geometria;
    font-weight: 300;
    text-transform: lowercase;
    margin: 0;
    color: #251433;
}
.animate_el{
align-items: center;
justify-content: center;
background-color: #251433;
overflow: hidden;
width: 800px;
height: 301px;
}
.swipe_circle3 {
    float: left;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    width: 60%;
    height: 500px;
    outline: 30px solid #ffffff;
    outline-offset: -30px;
    border-radius: 50%;
    animation: moveUp3 2s linear infinite;
}

.swipe_circle4 {
    float: right;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    width: 60%;
    height: 500px;
    outline: 30px solid #ffffff;
    outline-offset: -30px;
    border-radius: 50%;
    animation: moveUp4 2s linear infinite;
}
@keyframes moveUp3 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: translateY(-110vh);
    }
}

@keyframes moveUp4 {
    0% {
        transform: scale(1);
    }

    100% {
        transform: translateY(-100vh);
    }
}
.container2 h1 {
    font-size: 40px;
    padding-top: 60px;
    margin: 0;
    text-transform: uppercase;
    color: #251433;
}

.card_form a{
    text-decoration: none;
    color: #251433;
}
.cards_index {
    padding-top: 30px;
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.card_form {
    position: relative;
    z-index: 0;
    width: 300px;
    height: 400px;
    background-image: #fdfdfd;
    border-radius: 30px;
    box-shadow: 1px 0 3px 3px rgba(0, 0, 0, 0.2);
    width: 300px;
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card_form::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fdfdfd;
    border-radius: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: 0;
}

.card_form:hover::before {
    box-shadow: 1px 0 3px 3px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    box-shadow: 1px 0 12px 12px rgba(37, 20, 51, 0.85);
}

.card_index {
    padding-top: 50px;
    gap: 30px;
    display: flex;
    flex-direction: column;
    place-items: center;
    align-items: center;
}

.icon img {
    z-index: 1;
    background-color: #ffffff;
    border: #251433 4px solid;
    border-radius: 50%;
    padding: 3%;
    width: 160px;
}

.descript {
    z-index: 1;
    display: flex;
    flex-direction: column;

}
.icon{
    transition: transform 0.3s ease;
    z-index: 1;
    display: flex;
    flex-direction: column;
}

.card_index h2 {
    z-index: 1;
    margin: 0;
    text-align: center;
    line-height: 30px;
    font-size: 26px;
    text-transform: uppercase;
}

.card_index p {
    z-index: 1;
    margin: 0;
    font-size: 20px;
    font-weight: 300;
    font-family: Geometria;
    text-transform: lowercase;
    }

.meth a img {
    z-index: 1;
    border-radius: 50%;
    width: 160px;
}

.meth {
    display: flex;
    padding-top: 60px;
    flex-direction: row;
    gap: 100px;
    justify-content: center;
    align-items: center;
}

.meth1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    z-index: 0;
    width: 300px;
    height: 400px;
    background-color: #fdfdfd; 
    border-radius: 30px;
    box-shadow: 1px 0 3px 3px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.meth1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fdfdfd; 
    border-radius: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: -1; 
}

.meth1:hover::before {
    box-shadow: 1px 0 3px 3px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    box-shadow: 1px 0 12px 12px rgba(37, 20, 51, 0.85);
}
.meth1 p{
    text-transform: uppercase;
    font-weight: 500;
    font-size: 18px;
    color: #251433;
}
.sub h2{
font-size: 30px;
margin: 0;
text-transform: uppercase;
color: #251433;
}
.fillials{
    justify-content: space-between;
    display: flex;
    flex-direction: row;
    gap: 40px;
}
#map {
    height: 500px;
    width: 800px;
    padding-right: 7%;
    display: flex;
}

.places{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.address-button img{
    width: 40px;
    padding: 3%;
}
.address-button{
    font-family: Unbounded;
    font-size: 18px;
    font-weight: 400;
    cursor: pointer;
    position: relative;
    z-index: 0;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    justify-content: left;
    width: 400px;
    height: 80px;
    background-color: #fdfdfd;
    border: #251433 2px solid;
    border-radius: 20px;
    box-shadow: 1px 0 3px 3px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: left;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.address-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #fdfdfd; 
    border-radius: 20px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    z-index: -1; 
}

.address-button:hover::before {
    box-shadow: 1px 0 3px 3px rgba(0, 0, 0, 0.2);
    transform: scale(1.02);
    box-shadow: 1px 0 12px 12px rgba(37, 20, 51, 0.85);
}

footer {
    display: flex;
    justify-content: space-between; 
    width: 100%;
    background-color: #251433;
}

.nav_f {
    padding: 5% 7%;
    display: flex;
    flex-direction: column;
    list-style: none;
}

.nav_f a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.nav_f p{
    color: #fff;
    font-family: Geometria;
    font-weight: 300;
    margin: 0;
}
.info_f {
    padding: 5% 7%;
    align-items: flex-end;
    display: grid;
    grid-template-columns: 100px;
    grid-template-rows: repeat(3, 100px); 
}

.sm{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100px;
    height: 100px;
    border: #fff 2px solid;
}
.sm a{
    font-size: 40px;
    align-items: center;
    justify-content: center;
    text-align: center;
    text-decoration: none;
    color: #fff;
}
.back_arrow{
    border: #fff 2px solid;
    width: 100px;
    height: 100px;
}
.arrow-up {
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 40px solid #fff; 
    margin: 28px auto; 
    cursor: pointer;
    animation: bounce 1s infinite alternate; 
}

@keyframes bounce {
    0% { transform: translateY(0); }
    100% { transform: translateY(-10px); }
}

.footer_bottom {
    max-width: 1600px;
    margin: 0 auto;
}
/*КУРСЫ*/
.course-card {
    background-color: #fdfdfd;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    max-height: 268px;
    max-width: 1600px;
    margin: 20px auto;
    box-shadow: 1px 0 3px 3px rgba(0, 0, 0, 0.2);
}

.course-image {
    width: 400px; /* Ширина изображения */
    height: 268px; /* Автоматическая высота */
}

.course-details {
    padding: 2% 5%;
    flex-grow: 1; /* Занять оставшееся пространство */
}

.course-title {
    text-transform: uppercase;
    color: #251433;
    font-size: 26px;
    margin: 0 0 10px;
}

.course-description {

    font-family: Geometria;
    font-weight: 400;
    color: #251433;
    font-size: 20px;
    margin: 0 0 10px;
}

.course-duration {
    text-transform: uppercase;
    color: #251433;
    font-weight: bold;
    margin: 0 0 20px;
}

.enroll-button {
    font-family: Unbounded;
    text-transform: lowercase;
    font-size: 18px;
    background-color: #251433; /* Цвет кнопки */
    color: white; /* Цвет текста кнопки */
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.enroll-button:hover {
    background-color: #381c4f; /* Цвет кнопки при наведении */
}
